.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Coloca la imagen encima del texto */
    text-align: center;
  }
  
  .logo-icon {
    width: 100px; /* Ajusta según sea necesario */
    height: auto;
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
  }
  
  h1 {
    margin: 0; /* Elimina margen adicional del título */
  }