<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Opciones de Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" mode="ios" class="submit">
    Modificar Pedido
    <ion-icon slot="end" name="cog-outline"></ion-icon>
  </ion-button>

  <ion-button expand="block" mode="ios" class="submit">
    Eliminar Pedido
    <ion-icon slot="end" name="trash-outline"></ion-icon>
  </ion-button>

  <ion-button expand="block" mode="ios" class="submit">
    Agregar Producto
    <ion-icon slot="end" name="duplicate-outline"></ion-icon>
  </ion-button>

  <ion-button expand="block" mode="ios" class="submit" (click)="goBack()">
    Atrás
    <ion-icon slot="end" name="arrow-undo-outline"></ion-icon>
  </ion-button>


</ion-content>
