<app-header title="Confirmar Entrega">
</app-header>

<ion-content [fullscreen]="true">

  <div class="image-container">
    <img *ngIf="photo" [src]="photo" alt="Foto tomada">
    <img *ngIf="!photo" src="assets/images/840_560.jpg" alt="mapa">
  </div>

  <ion-button (click)="takePhoto()" expand="block" mode="ios">
    Tomar Fotografía
    <ion-icon slot="start" name="camera-outline"></ion-icon>
  </ion-button>

  <ion-button (click)="confirmarEntrega()" expand="block" mode="ios">
    Confirmar Entrega
    <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
  </ion-button>

  <ion-button (click)="volver()" expand="block" mode="ios">
    Volver a Pedidos
    <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-content>
