<app-header title="Home">
</app-header>

<ion-content [fullscreen]="true">

    <!--Template para cuando la lista está vacía -->
    <ng-template #listaVacia>
      <ion-item lines="none">
        <ion-label class="ion-text-center">
          <ion-text color="medium">
            <h2>No hay pedidos disponibles.</h2>
          </ion-text>
        </ion-label>
      </ion-item>
    </ng-template>
 
  



<ion-card>
  <ion-card-header>
    <ion-card-title>Pedidos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list *ngIf="pedidos.length > 0; else listaVacia">
      <ion-item *ngFor="let pedido of pedidos">
        <ion-label>{{pedido.cliente}}</ion-label>
        <ion-button [id]="'open-modal-' + pedido.n_pedido" expand="block">Ver Detalle</ion-button>

          <ion-modal #modal
           [trigger]="'open-modal-' + pedido.n_pedido" >
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Pedido N° {{pedido.n_pedido}} </ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content>
                <ion-list>
                  <ion-item>
                   
                    <ion-label>
                      <h2>Cliente:</h2>
                      <p>{{pedido.cliente}}</p>
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>
                      <h2>Dirección:</h2>
                      <p>{{pedido.direccion}}</p>
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>
                      <h2>Comuna:</h2>
                      <p>{{pedido.comuna}}</p>
                    </ion-label>
                  </ion-item>
                  <ion-item> 
                       <ion-label>
                        <h2 >Contacto:</h2>
                          <p >{{pedido.tel_contacto}}</p>
                      </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>
                      <h1>Detalle</h1>
                      <h2>Producto:</h2>
                      <p>{{pedido.producto}}</p>
                      <h2>Cantidad:</h2>
                      <p >{{pedido.cantidad}}</p>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-modal>
      </ion-item>

      
    </ion-list>
  </ion-card-content>

</ion-card>
<ion-button (click)="generarRuta()" expand="block" mode="ios" class="submit">
  Generar Ruta
  <ion-icon slot="end" name="location-outline"></ion-icon>
</ion-button>
<ion-button (click)="logout()" expand="block" mode="ios">
  Salir
  <ion-icon slot="end" name="log-out-outline"></ion-icon>
</ion-button>
</ion-content>
