<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <div class="d-flex-center">
    <ion-list *ngIf="productos.length > 0; else listaVacia">
      <ion-item *ngFor="let producto of productos">
        <ion-label>{{producto.name}}</ion-label>
      </ion-item>
    </ion-list>
  
    <!-- Template para cuando la lista está vacía -->
    <ng-template #listaVacia>
      <ion-item lines="none">
        <ion-label class="ion-text-center">
          <ion-text color="medium">
            <h2>No hay productos disponibles.</h2>
          </ion-text>
        </ion-label>
      </ion-item>
    </ng-template>
  
  </div>
</ion-content>
