<app-header title="Login"></app-header>

<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <ion-card color="light">
      <ion-card-header class="logo-container">
        <app-logo></app-logo>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item color="medium">
            <ion-input labelPlacement="floating" value="Username" [(ngModel)]="username">
              <div slot="label">Usuario <ion-text color="danger">(Required)</ion-text></div>
            </ion-input>
          </ion-item>

          <ion-item color="medium" >
            <ion-input labelPlacement="floating" value="Password" [(ngModel)]="password" placeholder="Enter Password">
              <div slot="label">Password <ion-text color="danger">(Required)</ion-text></div>
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button (click)="login(username,password)" expand="block" mode="ios" class="submit">
    Ingresar
    <ion-icon slot="end" name="log-in-outline"></ion-icon>
  </ion-button>
</ion-content>