<app-header title="Login"></app-header>

<ion-content [fullscreen]="true">

  <div class="d-flex-center">

      <form  class="auth-form" >

        <app-logo></app-logo>


        <!-- Email-->
    <app-custom-input
    autocomplete="email"
    icon="person-circle-outline"
    type="user"
    label="example@example.com"
    [(ngModel)]="username"
    ></app-custom-input>

    

    <!-- Password-->
    <app-custom-input
    icon="lock-closed-outline"
   
    type="password"
    label="Password"
    [(ngModel)]="password"
    ></app-custom-input>

   

    <p class="ion-text-end" routerLink="forgot-password">¿Olvidaste tu contraseña?</p>

    <ion-button (click)="login(username, password)" expand="block"  mode="ios" class="submit" type="submit" >
      Ingresar
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>

    <ion-button class="ion-margin-top" routerLink="sign-up" expand="block"  mode="ios"  fill="outline">
      Registrate
      <ion-icon slot="end" name="person-add-outline"></ion-icon>
    </ion-button>

  </form>

  </div>



</ion-content>