<app-header title="Agregar Pedido">
</app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item color="light">
      <ion-label position="floating">Número de Pedido <ion-text color="danger">(Required)</ion-text></ion-label>
      <ion-input [(ngModel)]="nuevoPedido.n_pedido" type="number" placeholder="Ingrese el número del pedido"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-label position="floating">Dirección <ion-text color="danger">(Required)</ion-text></ion-label>
      <ion-input [(ngModel)]="nuevoPedido.direccion" placeholder="Ingrese la dirección"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-label>Comuna <ion-text color="danger">(Required)</ion-text></ion-label>
      <ion-select [(ngModel)]="nuevoPedido.comuna" interface="popover" placeholder="Seleccione una comuna">
        <ion-select-option *ngFor="let comuna of comunas" [value]="comuna">{{comuna.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color="light">
      <ion-label>Cliente <ion-text color="danger">(Required)</ion-text></ion-label>
      <ion-select [(ngModel)]="nuevoPedido.cliente" interface="popover" placeholder="Seleccione un cliente">
        <ion-select-option *ngFor="let cliente of cliente" [value]="cliente">{{cliente.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color="light">
      <ion-label position="floating">Repartidor</ion-label>
      <ion-input [(ngModel)]="nuevoPedido.repartidor" placeholder="Ingrese el nombre del repartidor"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-label>Producto <ion-text color="danger">(Required)</ion-text></ion-label>
      <ion-select [(ngModel)]="nuevoPedido.producto" interface="popover" placeholder="Seleccione un producto">
        <ion-select-option *ngFor="let producto of productos" [value]="producto">{{producto.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color="light">
      <ion-label position="floating">Cantidad <ion-text color="danger">(Required)</ion-text></ion-label>
      <ion-input [(ngModel)]="nuevoPedido.cantidad" type="number" placeholder="Ingrese la cantidad"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-label position="floating">Teléfono de Contacto <ion-text color="danger">(Required)</ion-text></ion-label>
      <ion-input [(ngModel)]="nuevoPedido.tel_contacto" type="tel" placeholder="Ingrese el teléfono"></ion-input>
    </ion-item>

    <ion-button (click)="agregarPedido()" expand="block" mode="ios" class="submit">
      Agregar Pedido
      <ion-icon slot="end" name="duplicate-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="volver()" expand="block" mode="ios">
      Volver a Pedidos
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>
